{% layout 'layout' %}
{% block title %}Blog Column{% endblock %}

{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li>App Templates</li>
<li>Blog</li>
<li class="active"><a href="app-blogfront-column.html">Blog Column</a></li>
{% endblock %}

{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}

{% block content %} 
<div class="blog">
	<div class="row">
		<div class="col-md-4">
			
			<div class="column-post">
				<div class="column-body">
					<h3><a href="">Vero perpetua recteque nec an te mea magna scripta assueverit</a></h3>
					<a href="#" class="column-post-img"><img src="{{'demo/stockphoto/blog_01.jpg' | asset_url | img_loc }}" class="img-responsive post-img"/></a>
					<p>Eum ad dictas feugait accumsan. Has vide omnis senserit ad. Eum in munere interesset. Mea possim minimum omittam in. Sumo dicta no his. Cu eos deleniti tincidunt instructior.</p>
				</div>
				<div class="column-footer">
					<div class="post-info-container">
						<ul class="post-info list-unstlyed list-inline">
							<li><i class="fa fa-clock-o"></i>8/20/2014</li>
							<li><i class="fa fa-comment-o"></i><a href="">32</a></li></li>
						</ul>
					</div>
					<div class="post-more">
						<a href="#" class="btn btn-primary-alt btn-sm">Read More</a>
					</div>
				</div>
			</div>
			<div class="column-post">
				<div class="column-body">
					<h3><a href="">Iudico liberavisse has ex his ne case hendrerit</a></h3>
					<a href="#" class="column-post-img"><img src="{{'demo/stockphoto/blog_02.jpg' | asset_url | img_loc }}" class="img-responsive post-img"/></a>
					<p>Ea agam cibo malis nec, ne omnium accumsan splendide per. Sit simul admodum eu, in vitae vocent vim. Eam veniam causae iudicabit id, mea at dico pertinax, id quem graeci doctus mel. Eum elitr homero sanctus ea, expetendis inciderint an per.</p>
				</div>
				<div class="column-footer">
					<div class="post-info-container">
						<ul class="post-info list-unstlyed list-inline">
							<li><i class="fa fa-clock-o"></i>8/11/2014</li>
							<li><i class="fa fa-comment-o"></i><a href="">4</a></li></li>
						</ul>
					</div>
					<div class="post-more">
						<a href="#" class="btn btn-primary-alt btn-sm">Read More</a>
					</div>
				</div>
			</div>
			<div class="column-post">
				<div class="column-body">
					<h3><a href="">Detraxit pertinax ne nec at quem aliquam corpora vix</a></h3>
					<a href="#" class="column-post-img"><img src="{{'demo/stockphoto/blog_03.jpg' | asset_url | img_loc }}" class="img-responsive post-img"/></a>
					<p>Latine tibique nominati quo ne. Liber affert timeam an duo, nam ad eruditi lucilius consequuntur. Ius tamquam vituperata no, at illum conclusionemque eum, eos sint scripta eruditi cu. Quot scribentur pri ea, nihil vitae qualisque te vim.</p>
				</div>
				<div class="column-footer">
					<div class="post-info-container">
						<ul class="post-info list-unstlyed list-inline">
							<li><i class="fa fa-clock-o"></i>8/1/2014</li>
							<li><i class="fa fa-comment-o"></i><a href="">16</a></li></li>
						</ul>
					</div>
					<div class="post-more">
						<a href="#" class="btn btn-primary-alt btn-sm">Read More</a>
					</div>
				</div>
			</div>

		</div>

		<div class="col-md-4">
			
			<div class="column-post">
				<div class="column-body">
					<h3><a href="">Vel vidit abhorreant eu mei cu tota integre clita apeirian ei eam</a></h3>
					<a href="#" class="column-post-img"><img src="{{'demo/stockphoto/blog_04.jpg' | asset_url | img_loc }}" class="img-responsive post-img"/></a>
					<p>Consequat eloquentiam his et, ad mel falli scriptorem adversarium, in summo option mediocrem mei.</p> 
					<p>Error fabellas pro an, mea atqui scriptorem ea. Est ut prompta suscipit. Oporteat perfecto disputando ex duo, nec an unum duis nonumes, quis ponderum mei ea. Est an diam persequeris, eam at paulo convenire evertitur.</p>
				</div>
				<div class="column-footer">
					<div class="post-info-container">
						<ul class="post-info list-unstlyed list-inline">
							<li><i class="fa fa-clock-o"></i>7/29/2014</li>
							<li><i class="fa fa-comment-o"></i><a href="">32</a></li></li>
						</ul>
					</div>
					<div class="post-more">
						<a href="#" class="btn btn-primary-alt btn-sm">Read More</a>
					</div>
				</div>
			</div>
			<div class="column-post">
				<div class="column-body">
					<h3><a href="">Usu nullam sententiae an oratio expetenda percipitur vim ex</a></h3>
					<p>Vide graecis maluisset has cu, sit eripuit pertinax id, ea putant fabellas pertinacia nam. Ius choro deserunt consulatu ne, sea animal nominati ut, eum option laboramus tincidunt ut.</p>
				</div>
				<div class="column-footer">
					<div class="post-info-container">
						<ul class="post-info list-unstlyed list-inline">
							<li><i class="fa fa-clock-o"></i>7/26/2014</li>
							<li><i class="fa fa-comment-o"></i><a href="">4</a></li></li>
						</ul>
					</div>
					<div class="post-more">
						<a href="#" class="btn btn-primary-alt btn-sm">Read More</a>
					</div>
				</div>
			</div>
			<div class="column-post">
				<div class="column-body">
					<h3><a href="">Ex has option accusata consectetuer</a></h3>
					<a href="#" class="column-post-img"><img src="{{'demo/stockphoto/blog_05.jpg' | asset_url | img_loc }}" class="img-responsive post-img"/></a>
					<p>His ludus inimicus ea, est purto pericula theophrastus ut. Ad eos maluisset inciderint, ad viderer inciderint eum. Sed in euismod appetere, usu ei natum augue disputando. Mea ut possit commodo feugait, vim omnis malis te, ex elitr putent impetus his. Ut mea dicit altera animal.</p>
				</div>
				<div class="column-footer">
					<div class="post-info-container">
						<ul class="post-info list-unstlyed list-inline">
							<li><i class="fa fa-clock-o"></i>7/19/2014</li>
							<li><i class="fa fa-comment-o"></i><a href="">16</a></li></li>
						</ul>
					</div>
					<div class="post-more">
						<a href="#" class="btn btn-primary-alt btn-sm">Read More</a>
					</div>
				</div>
			</div>
			
		</div>

		<div class="col-md-4">
			
			<div class="column-post">
				<div class="column-body">
					<h3><a href="">Mea nostrum luptatum id ei adhuc choro eum, ex melius fastidii usu</a></h3>
					<a href="#" class="column-post-img"><img src="{{'demo/stockphoto/blog_06.jpg' | asset_url | img_loc }}" class="img-responsive post-img"/></a>
					<p>Nisl mucius dissentiunt vis te. Pro dolore vivendo no, omnes comprehensam pro cu. Dicta viderer mea te, ipsum inani saperet mel in. At cibo tota argumentum per, eu iusto intellegat qui, accusata salutandi laboramus ei his. Iudico honestatis vix ut, te ius discere docendi pertinax.</p>
				</div>
				<div class="column-footer">
					<div class="post-info-container">
						<ul class="post-info list-unstlyed list-inline">
							<li><i class="fa fa-clock-o"></i>7/14/2014</li>
							<li><i class="fa fa-comment-o"></i><a href="">32</a></li></li>
						</ul>
					</div>
					<div class="post-more">
						<a href="#" class="btn btn-primary-alt btn-sm">Read More</a>
					</div>
				</div>
			</div>
			<div class="column-post">
				<div class="column-body">
					<h3><a href="">Cum ut modo dolorem te nonumy eleifend qui</a></h3>
					<a href="#" class="column-post-img"><img src="{{'demo/stockphoto/blog_07.jpg' | asset_url | img_loc }}" class="img-responsive post-img"/></a>
					<p>Atqui maiorum scripserit his in, nulla tation officiis ex vel. His ridens consulatu conceptam in, ei est feugait expetendis, et illum falli neglegentur per. Mei ex mazim propriae. Has ei illud iuvaret nominati, ei duo eros vidit equidem.</p>
				</div>
				<div class="column-footer">
					<div class="post-info-container">
						<ul class="post-info list-unstlyed list-inline">
							<li><i class="fa fa-clock-o"></i>7/13/2014</li>
							<li><i class="fa fa-comment-o"></i><a href="">4</a></li></li>
						</ul>
					</div>
					<div class="post-more">
						<a href="#" class="btn btn-primary-alt btn-sm">Read More</a>
					</div>
				</div>
			</div>
			<div class="column-post">
				<div class="column-body">
					<h3><a href="">Inermis ponderum antiopam nam no</a></h3>
					<a href="#" class="column-post-img"><img src="{{'demo/stockphoto/blog_08.jpg' | asset_url | img_loc }}" class="img-responsive post-img"/></a>
					<p>Mei ea ceteros forensibus. Ea sit minimum erroribus. Enim labore signiferumque an eum, id usu etiam pertinax. Ad vel utinam nominavi omittantur, at tamquam docendi omittam nam, agam impetus definitiones vix cu.</p>
				</div>
				<div class="column-footer">
					<div class="post-info-container">
						<ul class="post-info list-unstlyed list-inline">
							<li><i class="fa fa-clock-o"></i>7/11/2014</li>
							<li><i class="fa fa-comment-o"></i><a href="">16</a></li></li>
						</ul>
					</div>
					<div class="post-more">
						<a href="#" class="btn btn-primary-alt btn-sm">Read More</a>
					</div>
				</div>
			</div>
			
		</div>


		
	</div>

</div>
{% endblock %}
